<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <reference id="pooledConnectionFactory" interface="javax.jms.ConnectionFactory"/>

    <bean id="senderclient" class="org.corsair.central.jms.sender.SenderClient" init-method="init" destroy-method="destroy">
        <property name="pooledConnectionFactory" ref="pooledConnectionFactory"/>
        <property name="topic" value="Corsair.SampleBroker"/>
        <property name="id" value="org.corsair.central.jms.sender.SenderClient"/>
    </bean>

</blueprint>
